<body>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Education</th>
            <th>Faculty</th>
            <th>Start</th>
            <th>Graduate</th>
            <th>AbonentId</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let res of pe">
            <td>{{res.id}}</td>
            <td>{{res.name}}</td>
            <td>{{res.surename}}</td>
            <td>{{res.age}}</td>
            <td><tr>{{res.education[0]}}</tr><tr>{{res.education[1]}}</tr><tr>{{res.education[2]}}</tr></td>
            <td><tr>{{res.faculty[0]}}</tr><tr>{{res.faculty[1]}}</tr><tr>{{res.faculty[2]}}</td>
                <td><tr>{{res.start[0]}}</tr><tr>{{res.start[1]}}</tr><tr>{{res.start[2]}}</tr></td>
                <td><tr>{{res.graduate[0]}}</tr><tr>{{res.graduate[1]}}</tr><tr>{{res.graduate[2]}}</tr></td>
            <td>{{res.abonentId}}</td>
        </tr>
    </tbody>
</table>
</body>