
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <h2>Abonent</h2>
  <div class="reg">
    <button type="button" class="btn btn-danger" id=but data-bs-toggle="modal"  (click)="spin()" data-bs-target="#exampleModal">
      Regist
    </button>
  </div> 
  <div class="pr">
    <h2>Hello {{name.value}}!</h2>
  </div>

</div>


<div class="footer">
  <p>I footer</p>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #userform #user="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" #name  #one="ngModel" required ngModel class="form-control" placeholder="Name"> 
          </div>
          <div class="alert alert-danger" [hidden]="one.valid||one.pristine">
            <p>Hello! Enter name!<p>
          </div>
          </form>
          <div class="d-flex justify-content-center" *ngIf="spiner" id="sp">
            <div class="spinner-grow spinner-grow-sm" role="status" id="sp1">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" routerLink="/content" [disabled]="!user.form.valid" data-bs-dismiss="modal">User</button>
          <button type="button" class="btn btn-primary" routerLink="/admin" [disabled]="!user.form.valid" data-bs-dismiss="modal">Admin</button>
          <button type="button" (click)="userform.reset()" class="btn btn-primary" [disabled]="!user.form.valid">Clear</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet> 
  
  